<!DOCTYPE html>
<html>
<head>
  <title>Database of Errors</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--   <a class="logo pull-left" href="<%= root_path %>">
    <%= image_tag "cool-shakespeare-thumb.png", height: "50px" %>
  </a>
  <h1>Database of Errors</h1> -->

<div class="container">
<%= yield %>
</div>

</body>
</html>
