<!DOCTYPE html>
<html>
<head>
  <title>DatabaseOfErrors</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
</head>
<body>

  <a class="logo pull-left" href="<%= root_path %>">
    <%= image_tag "cool-shakespeare-thumb.png", height: "50px" %>
  </a>

<div class="container">
<%= yield %>
</div>

</body>
</html>
